<!DOCTYPE html>

<html>

<head>
    <title>Food Delivery</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <header>
        <div id="container">
            <h1><a><%= link_to "FOOD APP", root_path %></a></h1>
        </div>
    </header>

    <div class="about_us">
        <h2>WHAT IS FOOD APP?</h2>
        <p>FOOD APP is a a place where you can find the diverse types of restaurants in Dublin, here you will find the type of food you want without to search for it. You just simply select the type of food you want and we are going to display the list of the variaty of restaurants for you, we will display all the contact details in order for you easily contact them.</p>
    </div>

</body>

</html>