<!DOCTYPE html>
<html>
    <head>
    <title>Food Delivery</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
<body>
        <header>
        <div id="container">
            <h1><a><%= link_to "FOOD APP", root_path %></a></h1>
            <ul>
            </ul>
        </div>
    </header>

<h2>Coffee Shops</h2>

<ul>
  <li>Kaph</li>
  <li>31 Drury Street, Dublin 2</li>
  <li>+353 198495958</li>
  <li><a href="http://www.kaph.ie/">Website</a></li>
</ul>

<ul>
  <li>TWO BOYS BREW</li>
  <li>375 North Circular Road, Dublin 7</li>
  <li>+353 1675 9898</li>
  <li><a href="http://www.twoboysbrew.ie/">Website</a></li>
</ul>

<ul>
  <li>AMT</li>
  <li>Amiens St, North Dock, Dublin</li>
  <li>+353 1 876 2312</li>
  <li><a href="http://amtcoffee.co.uk/">Website</a></li>
</ul>


</body>
</html>