<!DOCTYPE html>
<html>
    <head>
    <title>Food Delivery</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
<body>
        <header>
        <div id="container">
            <h1><a><%= link_to "FOOD APP", root_path %></a></h1>
            <ul>
            </ul>
        </div>
    </header>

<h2>Italian Restaurant</h2>

<ul>
  <li>Picasso</li>
  <li>1 Vernon Avenue, Clontarf, Dublin 3</li>
  <li>+353 18531120</li>
  <li><a href="http://www.picassorestaurant.ie/">Website</a></li>
</ul> 


<ul>
  <li>Da Mimmo</li>
  <li>148 N Strand Rd, North Dock, Dublin 3</li>
  <li>+353 185 8789</li>
  <li><a href="http://www.damimmo.ie/">Website</a></li>
</ul> 

<ul>
  <li>Little Venice</li>
  <li>Old Airport Rd, Santry, Dublin 9</li>
  <li>+353 1 842 8383</li>
  <li><a href="http://www.littlevenicesantry.com/little-venice-restaurant-welcomes-you/welcome/">Website</a></li>
</ul> 

</body>
</html>