<!DOCTYPE html>
<html>
    <head>
    <title>Food Delivery</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
<body>
        <header>
        <div id="container">
            <h1><a><%= link_to "FOOD APP", root_path %></a></h1>
            <ul>
            </ul>
        </div>
    </header>

<h2>Spanish Restaurant</h2>

<ul>
  <li>Salamanca</li>
  <li>1 St. Andrew’s Street, Dublin 2</li>
  <li>+353 987837424</li>
  <li><a href="https://www.salamanca.ie/">Website</a></li>
</ul>

<ul>
  <li>Havana</li>
  <li>10 South Great George Street, Dublin 2</li>
  <li>+353 1 400 5990</li>
  <li><a href="https://www.havana.ie/">Website</a></li>
</ul>

<ul>
  <li>The Port House Pintxo</li>
  <li>12 Eustace St, Temple Bar, Dublin</li>
  <li>+353 1 672 8590</li>
  <li><a href="http://www.porthouse.ie/">Website</a></li>
</ul>


</body>
</html>