<!DOCTYPE html>
<html>
    <head>
    <title>Food Delivery</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    
<body>
        <header>
        <div id="container">
            <h1><a><%= link_to "FOOD APP", root_path %></a></h1>
            <ul>
            </ul>
        </div>
    </header>

<h2>Vegetarian Restaurant</h2>

<ul>
  <li>Umi</li>
  <li>13 Dame Street, Dublin 2</li>
  <li>Phone Number +353 1 765890</li>
  <li><a href="http://umifalafel.ie/">Website</a></li>
</ul>  

<ul>
  <li>Blazing Salads</li>
  <li>5 Drury Street, Dublin 2</li>
  <li>Phone Number +353 1 756 892</li>
  <li><a href="http://www.blazingsalads.com/todays-menu">Website</a></li>
</ul>  

<ul>
  <li>Govindas</li>
  <li>83 Middle Abbey Street, Dublin 1</li>
  <li>Phone Number +353 1 876 3432</li>
  <li><a href="http://www.govindas.ie/">Website</a></li>
</ul>  

</body>
</html>